.scrollBtn{
    position: fixed; 
    bottom: 120px;
    right: 8%;
    font-size: 3rem;
    z-index: 99;
    cursor: pointer;
    color: rgb(5, 33, 70);

}

/* @media (min-width: 800px) {
   
    .membership-card{
        flex-direction: row;
        background-color: #eee;
    }

    .membership-icmc{
        flex-direction: row;
        background-color: #eee;
    }
    

    .membershipCard-img{
        width: 70%;
    }

    .membership-detail p{
        padding: 0 20px;
    }
    
    
} */
