.experience-card{
    background-image: linear-gradient(to right, rgba(32, 32, 32, 0.473) 100%, rgba(215, 214, 230, 0.151) 30%),  url(../../../../public/images/experience-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: white;
    cursor: pointer;
}