.membership{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    box-sizing: border-box;

}

.membership-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;


}


@media (min-width: 800px) {
   
    .membership-card{
        flex-direction: row;
        width: 70%;
        background-color: #eee;
    }

    .membershipCard-img{
        width: 70%;
    }

    .membership-detail p{
        padding: 0 20px;
    }
    
    
}

/* .membershipCard-img{
    width: 70%;
}

.membership-detail{
    width: 30%;
} */